

	.card {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		border-radius: 0.75rem;
        padding: 1rem;
        width: 33%;
		&--blue {
			background-color: #e0f3fa;
		}
		&--orange {
			background-color: #ffe6e9;
		}
		&--pink {
			background-color: #ffe6f1;
		}
	
	&__info {
		display: flex;
		flex-direction: column;
	}
	&__title {
		letter-spacing: 0px;
		color: #072635;
		text-transform: capitalize;
		font-size: 1rem;
		font-weight: medium;
        margin-block-end: 0em;
	}
	&__value {
		color: #072635;
		font-size: 1.875rem;
		font-weight: 800;
		text-transform: capitalize;
        margin-block-start: 0em;
	}
    &__level-wrapper{
        display: flex;
        align-items: center;
    
    }
	&__level {
		font-size: 0.875rem;
		letter-spacing: 0px;
		color: #072635;
		text-transform: capitalize;
		font-weight: 400;
	}
    &__level-icon{
        margin-right: .5rem;
    }

}
